body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    padding: 20px;
    height: 100vh; 
}

.left-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
}

.pelicula {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.pelicula:hover {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transform: scale(1.05);
}


.pelicula img {
    width: auto;
    height: 350px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}

.pelicula h4 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.right-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pelicula-detalles {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#pelicula-detalles h3 {
    margin-top: 0;
}
iframe {
    width: 100%;      
    height: auto; 
    aspect-ratio: 16/9; 
    border: none;
    border-radius: 8px;
}

.info {
    margin-top: 10px;
}

.info p {
    margin: 5px 0;
}

.info a {
    color: #007BFF;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}
